<div id="cuerpo">
  <div class="col-12">
     <button *ngIf="cuadritoUsuario===true" (click)="volverAPrincipal()" style="float: right;" class="btn btn-outline-danger" type="button"><i style="font-size: 28px;" class="fas fa-times-circle"></i></button>
  </div>
  <div class="col-12">
    <button *ngIf="cuadritoUsuario===false" (click)="volverALogin()" style="float: right;" class="btn btn-outline-danger" type="button"><i style="font-size: 28px;" class="fas fa-times-circle"></i></button>
 </div>
  <br>
  <br>
  <!-- Datos Personales-->
  <div *ngIf="cuadroDatosPers === true" class="card text-center" id="cuadro">
    <div class="card-header" id="encabezado">
      Datos personales del Alumno
    </div>
    <div class="card-body">
      <form class="row g-3">
        <div class="col-md-6">
          <label for="inputNombre" class="form-label">Nombre</label>
          <input type="texto" class="form-control" id="inputNombre" name="persona.nombre" [(ngModel)]="persona.nombre">
        </div>
        <div class="col-md-6">
          <label for="inputApellido" class="form-label">Apellido</label>
          <input type="texto" class="form-control" id="inputApellido" name="persona.apellido"
            [(ngModel)]="persona.apellido">
        </div>
        <div class="col-4">
          <label for="inputDni" class="form-label">DNI</label>
          <input type="texto" class="form-control" id="inputDni" name="persona.dni" [(ngModel)]="persona.dni">
        </div>
        <div class="col-4">
          <label for="inputFechaNac" class="form-label">Fecha de Nacimiento</label>
          <input type="date" class="form-control" id="inputFechaNac" name="persona.fechaNac"
            [(ngModel)]="persona.fechaNac">
        </div>
        <div class="col-4">
          <label for="inputCelular" class="form-label">Celular</label>
          <input type="texto" class="form-control" id="inputCelular" name="persona.celular"
            [(ngModel)]="persona.celular">
        </div>
        <div class="col-4">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="jtolababsd@gmail.com"
            [(ngModel)]="persona.correo" name="persona.correo">
        </div>
        <div class="col-4">
          <label for="inputDomicilio" class="form-label">Domicilio</label>
          <input type="texto" class="form-control" id="inputDomicilio" name="persona.domicilio"
            [(ngModel)]="persona.domicilio">
        </div>
        <div class="col-4">
          <label for="inputFechaInicio" class="form-label">Fecha de inicio</label>
          <input type="date" class="form-control" id="inputFechaInicio" name="alumno.fechaInicio"
            [(ngModel)]="alumno.fechaInicio">
        </div>
        <div class="col-8">
          <button type="button" class="btn btn-primary">Subir foto</button>
          <br><br>
          <img src="./../../../assets/gym/fotoPerfil.jpg" class="img-thumbnail" alt="" width="300px">
        </div>

        <div class="col-4">
          <div class="card text-center" id="cuadroUs">
            <div class="card-header" style="background-color: black; font-size: 20px;">
              Generar Usuario <i class="fas fa-user"></i>
            </div>
            <div class="card-body">
              <div class="col-12">
                <label for="inputUsuario" class="form-label">Usuario</label>
                <input type="texto" class="form-control" id="inputUsuario" name="usuario.userName"
                  [(ngModel)]="usuario.userName">
              </div>
              <div class="col-12">
                <label for="inputContra" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="inputContra" name="usuario.password"
                  [(ngModel)]="usuario.password">
              </div>
              
              <div *ngIf="cuadritoUsuario===true">
              <div class="col-md-12">
                <label for="inputRol" class="form-label">Rol</label>
                <select id="inputRol" class="form-select" name="usuario.rol" [(ngModel)]="usuario.rol">
                  <option selected></option>
                  <option value="Alumno">Alumno</option>
                  <option value="Entrenador">Entrenador</option>
                </select>
              </div>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="usuario.activo" id="activo" checked
                  [(ngModel)]="usuario.activo" value="true">
                <label class="form-check-label" for="activo">
                  Activo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="usuario.activo" id="inactivo"
                  [(ngModel)]="usuario.activo" value="false">
                <label class="form-check-label" for="inactivo">
                  Inactivo
                </label>
              </div>
            </div>

          </div>
            <div class="card-footer text-muted">
              GYM Grupo 06
            </div>
          </div>
        </div>
        <div class="col-4"></div>
        <div class="col-2">
          <button *ngIf="cuadritoUsuario===true" type="submit" class="btn btn-primary" (click)="agregarPersona()">Guardar Datos</button>
          <button *ngIf="cuadritoUsuario===false" type="submit" class="btn btn-primary" (click)="irALogin()">Registrarse!</button>
        </div>
<!--         <div class="col-2">
          <button type="submit" class="btn btn-primary" (click)="crearUsuario()">Generar usuario</button>
        </div> -->
        <div class="col-4"></div>

      </form>
    </div>
    <div class="card-footer text-muted" id="encabezado">
      Gym
    </div>
  </div>

  <br>
  <!--  -->
  <!-- PLAN-->
  <div *ngIf="cuadroPlan === true && usuario.rol==='Alumno'" class="card text-center" id="cuadro">
    <div class="card-header" id="encabezado">
      Plan del Alumno
    </div>
    <div class="card-body">
      <form class="row g-3">
        <div class="col-md-6">
          <label for="inputState" class="form-label">Elija un plan</label>
          <select id="inputState" class="form-select" [(ngModel)]="plan.tipo" name="plan.tipo">
            <option selected></option>
            <option value="Pase Libre">Pase Libre (todos los dias)</option>
            <option value="Full(5dias)">Full (5 dias)</option>
            <option value="Basico(3dias)">Basico (3 dias)</option>
          </select>
        </div>
        <div class="col-6">
          <label for="inputFechaInicioPlan" class="form-label">Fecha de inicio Plan</label>
          <input type="date" class="form-control" id="inputFechaInicioPlan" [(ngModel)]="plan.fechaInicioPlan"
            name="plan.fechaInicioPlan">
        </div>
        <div class="col-6">
          <label for="inputFechaFinPlan" class="form-label">Fecha de Fin Plan</label>
          <input type="date" class="form-control" id="inputFechaFinPlan" [(ngModel)]="plan.fechaFinDelPlan"
            name="plan.fechaFinDelPlan">
        </div>
        <div class="col-md-6">
          <label for="inputNivel" class="form-label">Nivel</label>
          <select id="inputNivel" class="form-select" [(ngModel)]="plan.nivel" name="plan.nivel">
            <option selected></option>
            <option value="Principiante">Principiante</option>
            <option value="Medio">Medio</option>
            <option value="Avazado">Avanzado</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="inputObjetivo" class="form-label">Objetivo</label>
          <select id="inputObjetivo" class="form-select" [(ngModel)]="plan.objetivo" name="plan.objetivo">
            <option selected></option>
            <option value="Bajar de Peso">Bajar de peso</option>
            <option value="Tonificacion muscular">Tonificacion muscular</option>
            <option value="Ganar masa Mucular">Ganar masa muscular</option>
          </select>
        </div>
        <div class="col-md-6"></div>

        <div class="col-12">
          <button type="button" class="btn btn-primary" (click)="guardarPlan()">Guardar Plan</button>
        </div>

      </form>
    </div>
    <div class="card-footer text-muted" id="encabezado">
      Gym
    </div>
  </div>


  <br>
  <!--CUOTA-->
 <!--  <div class="card text-center" id="cuadro">
    <div class="card-header" id="encabezado">
      Pago de cuota del alumno
    </div>
    <div class="card-body">
      <form class="row g-3">
        <div class="col-md-6">
          <label for="inputState" class="form-label">Modo de pago</label>
          <select id="inputState" class="form-select" [(ngModel)]="cuota.modoPago" name="cuota.modoPago">
            <option selected></option>
            <option value="Tarjeta">Tarjeta</option>
            <option value="Efectivo">Efectivo</option>
            <option value="Transferencia">Transferencia</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="inputMonto" class="form-label">Monto a pagar</label>
          <input type="texto" class="form-control" id="inputMonto" [(ngModel)]="cuota.montoAPagar"
            name="cuota.montoAPagar">
        </div>

        <div class="col-6">
          <label for="inputFechaPago" class="form-label">Fecha de Pago</label>
          <input type="date" class="form-control" id="inputFechaPago" [(ngModel)]="cuota.fechaPago"
            name="cuota.fechaPago">
        </div>
        <div class="col-md-6">
          <label for="inputMesAPagar" class="form-label">Mes a pagar</label>
          <select id="inputMesAPagar" class="form-select" [(ngModel)]="cuota.mesAPagar" name="cuota.mesAPagar">
            <option selected></option>
            <option value="Enero">Enero</option>
            <option value="Febrero">Febrero</option>
            <option value="Marzo">Marzo</option>
            <option value="Abril">Abril</option>
            <option value="Mayo">Mayo</option>
            <option value="Junio">Junio</option>
            <option value="Julio">Julio</option>
            <option value="Agosto">Agosto</option>
            <option value="Septiembre">Septiembre</option>
            <option value="Octubre">Octubre</option>
            <option value="Noviembre">Noviembre</option>
            <option value="Diciembre">Diciembre</option>
          </select>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary" (click)="guardarCuota()">Guardar Cuota</button>
        </div>
      </form>

    </div>
    <div class="card-footer text-muted" id="encabezado">
      Gym
    </div>
  </div> -->
  <br>

<!--   <h5 id="tituloTabla" class="text-center">Rutina asignada</h5>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Lunes
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Nombre Ejercicio</th>
                <th scope="col">Cant series</th>
                <th scope="col">Peso</th>
                <th scope="col">Repeticiones</th>
                <th scope="col">Tiempo Descansos</th>
                <th scope="col">imagen</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Mark</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Mark</td>
                <td>Mark</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Mark</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Miercoles
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Nombre Ejercicio</th>
                <th scope="col">Cant series</th>
                <th scope="col">Peso</th>
                <th scope="col">Repeticiones</th>
                <th scope="col">Tiempo Descansos</th>
                <th scope="col">imagen</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Mark</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Mark</td>
                <td>Mark</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Mark</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree">
          Viernes
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Nombre Ejercicio</th>
                <th scope="col">Cant series</th>
                <th scope="col">Peso</th>
                <th scope="col">Repeticiones</th>
                <th scope="col">Tiempo Descansos</th>
                <th scope="col">imagen</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Mark</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Mark</td>
                <td>Mark</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Mark</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <h5 id="tituloTabla" class="text-center">Dieta asignada</h5>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->

  <br><br>
  <br><br>

</div>