#cuerpo{
    margin: 200;
    padding-left: 200px;
    padding-right: 200px;
background-image: url(./../../../assets/gym/bloquesFondo.jpg) ;
/* background-repeat: no-repeat; */
/* mask-repeat: repeat-y;
background-size: 100%;  */
/* background-repeat: no-repeat; 
repeat:repeat-y;
background-size: cover;
height: 100vh; */

}

#cuadro{
    background-color: rgb(46, 46, 48);
    color: white;
}

#encabezado{
    background-color: rgb(0, 0, 0);
}

#tituloTabla{
    background-color: black;
    color: white;
    font-size:25px
}

#cuadroInfo{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca
  }
  
  #iconoPagado{
    font-size: 25px;
    background-color: rgb(252, 227, 0);
    padding: 7px;
    border-radius: 20px;
  }
