#cuerpo{

    background: url(./../../../assets/gym/imagen11.jpg);
    background-size: cover;
    font-family: sans-serif;
    
    padding-left: 10%;
    padding-right: 10%;
  }

  #boton{
    background-color: rgb(31, 31, 31);
  }
/*   #deslogin{
    display: flex ;
    float:left;
    background-color: aqua;
  } */

  #barraMenu{
    background-color: rgb(36, 36, 36);
    
  }

  #letraMenu{
    color: white;
  }

  #estadisticas{
    color: white;
    font-size: 20px;
    
  }

  #pesita{
    font-size: 25px;
    background-color: rgb(6, 5, 56);
    padding: 7px;
    border-radius: 20px;
  }