<!-- <button type="button" id="deslogin" class="btn btn-primary float-right">desloguearse</button> -->
<div id="cuerpo">

  <nav class="navbar navbar-expand-lg navbar-light" id="barraMenu">
    <div class="container-fluid">
      <a id="letraMenu" class="navbar-brand" href="#">Menu Entrenador</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--           <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->

        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-danger" type="button" (click)="cerrarSecion()">Cerrar Sesion <i class="fas fa-sign-out-alt"></i></button>
        </form>
      </div>
    </div>
  </nav>
<br>
  <div class="row">
    <div class="col-10">
      <!-- <app-header></app-header>
      <router-outlet></router-outlet> -->

      <p>
        <a id="boton"
          class="btn btn-secondary"
          data-bs-toggle="collapse"
          href="#multiCollapseExample1"
          role="button"
          aria-expanded="false"
          aria-controls="multiCollapseExample1"
          >Alumnos activos</a
        >
        <button id="boton"
          class="btn btn-secondary"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#multiCollapseExample2"
          aria-expanded="false"
          aria-controls="multiCollapseExample2"
        >
          Solicitudes pendientes
        </button>
        <button id="boton"
          class="btn btn-secondary"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target=".multi-collapse"
          aria-expanded="false"
          aria-controls="multiCollapseExample1 multiCollapseExample2"
        >
          Contraer Todo
        </button>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              <h5 id="tituloTabla" class="text-center">Alumnos activos</h5>
              <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Dni</th>
                    <th scope="col">Opcion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pActivas">
                    <th scope="row">1</th>
                    <td>{{item.nombre}}</td>
                    <td>{{item.apellido}}</td>
                    <td>{{item.dni}}</td>
                    <td>
                      <button (click)="irADatosDelAlumno()" type="button" class="btn btn-primary">
                        Ver Alumno
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jorge</td>
                    <td>Tolaba</td>
                    <td>37.460.306</td>
                    <td>
                      <button (click)="irADatosDelAlumno()" type="button" class="btn btn-primary">
                        Ver Alumno
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jorge</td>
                    <td>Tolaba</td>
                    <td>37.460.306</td>
                    <td>
                      <button (click)="irADatosDelAlumno()" type="button" class="btn btn-primary">
                        Ver Alumno
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
              <h5 id="tituloTabla" class="text-center">Alumnos NO activos</h5>
              <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Dni</th>
                    <th scope="col">Alta</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pNActivas">
                    <th scope="row">1</th>
                    <td>{{item.nombre}}</td>
                    <td>{{item.apellido}}</td>
                    <td>{{item.dni}}</td>
                    <td>
                      <button type="button" class="btn btn-primary">
                        Dar Alta
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Jorge</td>
                    <td>Tolaba</td>
                    <td>37.460.306</td>
                    <td>
                      <button type="button" class="btn btn-primary">
                        Dar Alta
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Jorge</td>
                    <td>Tolaba</td>
                    <td>37.460.306</td>
                    <td>
                      <button type="button" class="btn btn-primary">
                        Dar Alta
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <form id="estadisticas" class="row g-3">
        <div class="col-md-8">
          <i id="pesita" class="fas fa-dumbbell"></i> Cantidad de Personas inscriptas hasta la fecha:
        </div>
        <div class="col-md-4">
        120 Personas
        </div>
        <div class="col-md-8">
        <i id="pesita" class="fas fa-dumbbell"></i>Cantidad de Personas inscriptas hasta la fecha:
        </div>
        <div class="col-md-4">
        120 Personas
        </div>
        <div class="col-md-8"> <i id="pesita" class="fas fa-dumbbell"></i>
        Cantidad de Personas con solicitud pendiente:
        </div>
        <div class="col-md-4">
        15 Personas
        </div>
        <div class="col-md-8"><i id="pesita" class="fas fa-dumbbell"></i>
        Cantidad de Personas con cuota al dia:
        </div>
        <div class="col-md-4">
        120 Personas
          </div>
          <div class="col-md-8"><i id="pesita" class="fas fa-dumbbell"></i>
        Cantidad de Personas con cuota retrasada:
          </div>
          <div class="col-md-4">
        120 Personas
          </div>
          <div class="col-md-8"><i id="pesita" class="fas fa-dumbbell"></i>
        Cantidad de alumnos presentes en el dia:
          </div>
        <div class="col-md-4">
        120 Personas
          </div>
      </form>
    </div>

    <div class="col-2">
      <div class="btn-group-vertical">
        <button
          type="button"
          class="btn btn-secondary"
          id="boton"
          (click)="irAInscribirNuevoAlumno()"
        >
          Inscribir nuevo alumno</button
        ><br />
        <button
          type="button"
          class="btn btn-secondary"
          id="boton"
          (click)="irARegistrarPagoCuota()"
        >
          Registrar Pago de Cuota
        </button>
        <br />
        <button
          type="button"
          class="btn btn-secondary"
          id="boton"
          (click)="irARegistrarAsistencia()"
        >
          Registrar Asistencia</button
        ><br />
        <button
          type="button"
          class="btn btn-secondary"
          id="boton"
          (click)="irAGenerarModifRutinas()"
        >
          Generar/modificar rutina alumnos</button
        ><br />
<!--         <button type="button" class="btn btn-secondary" id="boton">
          Estadisticas</button
        ><br /> -->
<!--         <button type="button" class="btn btn-secondary" id="boton">
          Administrar dietas Alumnos</button
        ><br /> -->
        <button
          type="button"
          class="btn btn-secondary"
          id="boton"
          (click)="irAAdministrarEntrenador()"
        >
          Administrar entrenadores</button
        ><br />
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br>
</div>


