<div id="cuerpo">

    <div class="row">

        <div class="col-10">

<app-header></app-header>
<router-outlet></router-outlet>
</div>

<div class="col-2">
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary">Inscribir nuevo alumno</button><br>
        <button type="button" class="btn btn-primary">Registrar Pago de Cuota</button> <br>
        <button type="button" class="btn btn-primary">Registrar Asistencia</button><br>
        <button type="button" class="btn btn-primary">Generar/modificar rutina alumnos</button><br>
        <button type="button" class="btn btn-primary">Estadisticas</button><br>
        <button type="button" class="btn btn-primary">Administrar dietas Alumnos</button><br>
        <button type="button" class="btn btn-primary">Administrar entrenadores</button><br>
      </div>
</div>

</div>

</div>