<div id="cuerpo">
    <br>
    <h1 type="button">
      <i (click)="volverAPrincipal()" style="background-color: white; border-radius: 25px; font-size: 45px;" class="fas fa-arrow-circle-left"></i>
    </h1>
    <br><br>
    <div class="row">
        <div class="col-4">
<label for="inputMonto" class="form-label" id="textoBuscar">Ingrese dni del Alumno para realizar la busqueda</label>
</div>
<div class="col-4">
        <input type="texto" class="form-control" id="inputMonto" placeholder="37460306" [(ngModel)]="dni">
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-primary" (click)='obtenerDatosPersona()' >Buscar</button>
    </div>
    </div>
<br><br>

<div *ngIf="busquedaPrevia==true" class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{fotoPefil}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Alumno</h5>
          <p class="card-text">Fecha de hoy: {{fechaDeHoy}}</p>
          
          <p class="card-text">Nombre: {{persona.nombre}}</p>
          <p class="card-text">Apellido: {{persona.apellido}}</p>
          <p class="card-text"><small class="text-muted">DNI: {{persona.dni}}</small></p>
          <div class="row">
            <div class="col-6">
              <button [ngClass]="botonPresente ? 'botonNoPresionado' : 'botonPresionado'"
              type="button" class="btn btn-primary" (click)='guardarAsistencia()'>PRESENTE</button>
            </div>
          
          <div class="col-6">
            <button *ngIf="botonNuevoAlumno===true" type="button" class="btn btn-primary" (click)="nuevoAlumno()">Nuevo alumno</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
<br>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>