<div id="cuerpo">
    <br><br>
    <div class="row">
        <div class="col-4">
<label for="inputMonto" class="form-label" id="textoBuscar">Ingrese dni del Alumno para realizar la busqueda</label>
</div>
<div class="col-4">
        <input type="texto" class="form-control" id="inputMonto" placeholder="37460306">
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-primary">Buscar</button>
    </div>
    </div>
<br><br>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="./../../../assets/gym/fotoPerfil.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Alumno</h5>
          <p class="card-text">Fecha de hoy: (fecha actual)</p>
          <p class="card-text">Nombre: (nombre del alumno)</p>
          <p class="card-text">Apellido: (apellido del alumno)</p>
          <p class="card-text"><small class="text-muted">DNI:(dni alumno)</small></p>
          <button type="button" class="btn btn-primary">PRESENTE</button>
        </div>
      </div>
    </div>
  </div>
<br>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>